

<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<div class="wrapper">
    <div class="box">
        <form id='searchBox'>
         <input placeholder='Search here...' type='text' (input)="onChange($event,'search')"/>
         <input (click)="search()" id='submitBtn' type='submit' value='Search'/>
        </form>
        <span id='icon'><img src="square.png" alt=""></span>
        <nav id='navArea'>
         <ul class='navArea' *ngIf="auth=== false">
            <li><a routerLink="../login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="../signup" routerLinkActive="active" >signup</a></li>
            <li id='sub-menu'></li>
            <li><a routerLink="../profile" routerLinkActive="active">Profile</a></li>
            <li><a routerLink="../signup" routerLinkActive="active">Logout</a></li>
            <li><a routerLink="../home/" routerLinkActive="active" class="active">Home</a></li>
            <li><a routerLink="../addmusic" routerLinkActive="active" >Add music</a></li>
            <li><a routerLink="../addalbum" routerLinkActive="active" >Add Album</a></li>
            <li><a routerLink="../playlist" routerLinkActive="active" >My PlayList</a></li>

        </ul>
      </nav>
    </div>
</div>
