#searchBox {
	display: inline-block;
	padding-top: 4px;
	padding-right: 5px;
    height: 10px;
	float: right;
    
}
#searchBox input {
	width: 300px;
	float: left;
	border-radius: 2px 0 0 2px;
	font-size: 14px;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit
}
#submitBtn {
	width: auto!important;
	float: right;
	border-radius: 0 5px 5px 0;
	background: rgb(136, 8, 108);
	font-size: 13px;
	font-weight: 600;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #fff
}
.home{
    color: white;
    /* display: flex; */
}